name: Build Pipeline
run-name: Commit - ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_call:
    inputs:
      deployment_type: # VM or Container
        required: false
        type: string
        default: VM
      runScript: # In case of a VM deployment, if any script have to be executed.
        required: false
        type: string
      deploymentFolder:
        required: false
        type: string
      executionRequired:
        required: false
        type: boolean
        default: false
      BuildScript:
        required: false
        type: string
    secrets:
      USER:
        required: false
      HOST:
        required: false
      SSH_PRIVATE_KEY:
        required: false

jobs:
  deploy:
        name: Deployment
        runs-on: ubuntu-latest
        steps:
          - name: Custom Build Step
            runs: |
              chmod +x ${{ inputs.BuildScript }}
              ./${{ inputs.BuildScript }}

          - name: VM Deployment Process 
            uses: DeploymentType/VM-Deployment.yml
            if: (${{ inputs.deployment_type }} == VM || ${{ inputs.deployment_type }} == vm)
            with:
              runScript: ${{ inputs.runScript }}
              deploymentFolder: ${{ inputs.deploymentFolder }}
              executionRequired: ${{ inputs.executionRequired }}
            secrets:
              USER: ${{secrets.USER}}
              HOST: ${{secrets.HOST}}
              SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}

          - name: Container Deployment Process 
            uses: DeploymentType/Container-Deployment.yml
            if: (${{ inputs.deployment_type }} == Container || ${{ inputs.deployment_type }} == container)
            with:
              runScript: ${{ inputs.runScript }}
              deploymentFolder: ${{ inputs.deploymentFolder }}
              executionRequired: ${{ inputs.executionRequired }}
            secrets:
              USER: ${{secrets.USER}}
              HOST: ${{secrets.HOST}}
              SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}